.About-Container{
    outline: 1px dashed blue;
    display: flex;
    height: 100vh;
    justify-content: space-around;

    .Left{
        outline: 1px dashed blue;
        width: 50%;
        background: cadetblue;
    }

    .Right{
        outline: 1px dashed blue;
        width: 50%;
        background: darkgray;
    }
}