.Container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    .Top {
        display: flex;
        position: absolute;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        width: 100%;
        z-index: 1;
        .Nav {
            display: flex;
            justify-content: flex-start;
            width: 33%;

            .Nav-item {
                margin-left: 30px;
            }
        }

        .Title {
            display: flex;
            justify-content: center;
            width: 33%;

            .Title-Image {
                height: 22px;
            }
        }

        .Void{
            width: 33%;
        }
    }

    #About {
        flex-basis: 100%;
    }

    #Studio {
        flex-basis: 100%;
    }

    #Works {
        flex-basis: 100%;
        background: burlywood;
    }

    #Contact {
        flex-basis: 100%;
        background: cadetblue;
    }
}
