.About-Container {
    height: 100vh;
    display: flex;

    .Left {
        width: 50%;
        left: 0px;
        background: cadetblue;
        overflow: hidden;
        margin-top: -350px;
        position: fixed;
        .Abuot-Left-Image {
            width: 100%;
        }
    }

    .Right {
        width: 50%;
        margin-left: 50%;
        flex-direction: column;
        background: #e9e8e6;
        overflow: scroll;
        overflow-x: hidden;
        padding-left: 100px;
        padding-right: 100px;

        .Right-P {
            font-size: 15px;
        }

        .Right-P:nth-child(1) {
            margin-top: 100px;
        }

        .Abuot-Right-Image {
            width: 100%;
            height: auto;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
}
