.Studio-Container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #e9e8e6;
    overflow: scroll;
    overflow-x: hidden;

    padding-left: 20%;
    padding-right: 20%;
    font-size: 17px;

    .Studio-Word-Section {
        padding-left: 20%;
        padding-right: 20%;
        margin-top: 150px;
        margin-bottom: 150px;

        animation-duration: 1s;
        animation-name: slidein;
        min-width: 500px;
    }

    @keyframes slidein {
        from {
            margin-top: -100px;
        }

        to {
            margin-top: 150px;
        }
    }

    .Img-Section1 {
        display: flex;
        flex-direction: column;
        width: 100%;

        img {
            margin-top: 100px;
            width: 500px;
            min-width: 450px;
            height: auto;
        }
    }

    .Img-Section2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        div {
            img {
                margin-top: 100px;
                width: 500px;
                min-width: 450px;
                height: auto;
            }
        }
    }
}
