.Top {    
    width: 100%;
    display: flex;
    justify-content: flex-start;
    z-index: 1;
    margin-top: 30px;
    outline: 1px dashed red;

    .Nav-item {
        outline: 1px dashed red;
        margin-left: 30px;
    }

    .Title {
        outline: 1px dashed red;
        position: absolute;
        left: 50%;

        .Title-Image {
            outline: 1px dashed red;
            height: 22px;
            vertical-align: middle;
            border-style: none;
        }
    }
}

.About {
    outline: 1px dashed red;
    width: 100%;
    height: 100%;
    display: block;
    background: pink;
}

.Studio {
    outline: 1px dashed red;
    width: 100%;
    height: 100%;
    background: aquamarine;
}

.Works {
    outline: 1px dashed red;
    width: 100%;
    height: 100%;
    background: burlywood;
}

.Contact {
    outline: 1px dashed red;
    width: 100%;
    height: 100%;
    background: cadetblue;
}